.feedback-list {
  height: 573px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f7f8f9;

  scrollbar-color: #979ca0 #dbdfe4; 
  scrollbar-width: thin; 
}

.feedback {
  display: grid;
  grid-template-columns: 40px 85px 6fr 1fr;
  align-items: center;
  height: 82px;
  padding-right: 35px;
  padding-left: 30px;
  cursor: pointer;
  border-bottom: 1px solid #e4e7eb;
  transition: all 0.2s;
  color: #3a3c42;
}