.feedback-list {
  height: 573px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f7f8f9;
  scrollbar-width: none; 
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}