.footer {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.footer > small > p:first-child {
	margin-top: 22px;
}

.footer > small > p {
	opacity: 0.4;
}

.footer > small > p > span,
.footer a {
	font-weight: 600;
	font-style: italic;
}

.footer a {
	text-decoration: underline;
}
