* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: initial;
}

body {
	background-image: linear-gradient(200deg, #864a7e, #8f4292);
	height: 100vh;
	font-family: "Inter", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app {
	/* position: relative; */
	display: flex;
	justify-content: center;
	gap: 10px;
}

button {
  font: inherit;
  border: initial;
  outline: initial; 
  background-color: initial;
}
